body {
	background-image: url("../Website Assets/backdrop.png");
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

#game{
	margin-left: auto;
	margin-right: auto;
	touch-action: none;
	cursor: inherit;
	border-radius: 4px;
	border: 5px solid #ffffff;
}

.loading{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 610px;
	width: 1010px;
	border-radius: 4px;
	border: 5px solid #ffffff;
	z-index: 99;
}

.inputElements{
	position: absolute;
	z-index: 5;
}

#bioInput{
	position: absolute;
	width: 335px;
	height: 335px;
	text-align: center;
	border: none;
	outline: none;
	resize: none;
	background: transparent;
	font-family:"Caslon";  
	font-size: 25px; 
	color: #615f5b;
}

input {
  width: 300px;
  padding: 8px 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: 2px solid #bfbfbf;
  font-family: "Fredoka One", cursive;
  transition-duration: 0.2s;
}

input:focus {
  border: 3px solid #000000;
  box-shadow: 0 0 8px 0 rgb(0, 0, 0);
}

button {
  background-color: #f07018;
  color: white;
  width: 80px;
  padding: 8px;
  text-align: center;
  border: 2px solid #f07018;
  border-radius: 4px;
  font-family: "Fredoka One", cursive;
  margin-top: 8px;
  outline: none;
}

button:hover {
  background-color: #e06818;
  border: 2px solid#e06818;
  transition-duration: 0.2s;
}

@font-face {
	font-family: "VarelaRound";
	src: url("/Fonts/VarelaRound-Regular.ttf");
}

.chatbox {
	background-color: rgba(0,0,0,0.5);
	width: 400px;
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	text-align: left;
	padding-left: 15px;
	position: absolute;
	z-index: 20;
	margin-left: auto;
	margin-right: auto;
	scrollbar-color: rgba(0,0,0);
	line-height: 20px;
	font-family: "VarelaRound";
	padding-bottom: 5px;
}

.reportDiv{
	margin: 0px;
	width: 400px;
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	text-align: center;
	position:absolute;
	z-index: 31;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	font-family: "VarelaRound";
}

.reportInput{
	position: absolute;
	top: 100px;
	right: 0px;
	left: 50px;
	width: 290px;
	height: 290px;
	z-index: 31;
	text-align: left;
	border: none;
	outline: none;
	resize: none;
	font-family:"VarelaRound";  
	font-size: 30px; 
	color: #000000;
	background-color: #ffffff94;
	overflow-x: hidden;
	word-wrap: break-word;
}

#reportSubmit{
	position:absolute;
	bottom: 25px;
	right: 95px;
	width: 200px;
	z-index: 72;
}

#closeReport{
	position:absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	z-index: 72;
}

#reportThanks{
	font-family:"VarelaRound";
	position: absolute;
	top: 45%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	color: #000000;
}

#reportingDiv{
	margin: 0%;
}

#submittedDiv{
	margin: 0%;
}

#reportEnvelopeBackground{
	position: absolute;
	width: 99%;
	height: 99%;
	left:0;
	right:0;
	top:0;
}

#reportEnvelopeClosedBackground{
	position: absolute;
	width: 99%;
	height: 99%;
	left:0;
	right:0;
	top:0;
}

#REPORTtext{
	color: red;
}

/* Scrollbar Stuff */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 5px;
}