body {
	background-image: url("../Website Assets/backdrop.png");
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

#game{
	margin-left: auto;
	margin-right: auto;
	touch-action: none;
	cursor: inherit;
	border-radius: 4px;
	border: 5px solid #ffffff;
}

.loading{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 610px;
	width: 1010px;
	border-radius: 4px;
	border: 5px solid #ffffff;
	z-index: 99;
}

.inputElements{
	position: absolute;
	left: 40%;
	right: 0;
	top: 89%;
	z-index: 5;
}

#bioInput{
	position: absolute;
	width: 335px;
	height: 335px;
	text-align: center;
	border: none;
	outline: none;
	resize: none;
	background: transparent;
	font-family:"Caslon";  
	font-size: 27px; 
	color: #615f5b;
}

input {
  width: 30%;
  padding: 8px 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: 2px solid #bfbfbf;
  font-family: "Fredoka One", cursive;
  transition-duration: 0.2s;
}

input:focus {
  border: 3px solid #000000;
  box-shadow: 0 0 8px 0 rgb(0, 0, 0);
}

button {
  background-color: #f07018;
  color: white;
  width: 10%;
  padding: 8px;
  text-align: center;
  border: 2px solid #f07018;
  border-radius: 4px;
  font-family: "Fredoka One", cursive;
  margin-top: 8px;
  outline: none;
}

button:hover {
  background-color: #e06818;
  border: 2px solid#e06818;
  transition-duration: 0.2s;
}